.languageSelect {
  .select {
    padding: 5px 24px 5px 10px;
    border-radius: 5px;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  }

  .selectedItem:focus {
    background: white;
    border-radius: 5px;
  }
}

@media (max-width: 768px) {
  .languageSelect {
    margin-bottom: 20px;
    align-self: flex-end;
  }
}