.card {
  position: relative;
  display: flex;
  flex-direction: column;
  width: 500px;
  height: 390px;
  background: lavenderblush;
  border-radius: 10px;
  padding: 5px 20px 20px;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;

  .deleteBtn {
    position: absolute;
    right: 3px;
    top: 3px;
  }

  .title {
    display: flex;
    justify-content: space-between;
    height: 50px;
    align-items: center;

    .cityName {
      margin-right: 10px;
      font-weight: 500;
      font-size: 20px;
      display: inline-block;
      overflow: hidden;
      text-overflow: ellipsis;
      display: -webkit-box;
      -webkit-line-clamp: 1;
      -webkit-box-orient: vertical;
    }

    .imgWeather {
      display: flex;
      align-items: center;
      margin-right: 20px;

      > div {
        font-size: 18px;
        color: darkgray;
      }
    }
  }

  .time {
    margin-bottom: 10px;
    font-size: 21px;
  }

  .info {
    margin-top: 10px;
    display: flex;
    justify-content: space-between;

    .infoLeft {
      display: flex;
      flex-direction: column;

      .switchBox {
        display: flex;

        .temp {
          margin-top: 5px;
          font-size: 65px;
        }

        .switch {
          display: flex;
          font-size: 30px;

          .switchC,
          .switchF {
            display: flex;
            justify-content: center;
            align-items: center;
            height: 35px;
            width: 50px;

            > div {
              cursor: default;

              &.switchDisabled {
                color: gray;
                cursor: pointer;
              }

              &.switchDisabled:hover {
                color: black;
              }
            }
          }

          .switchC {
            border-right: 1px solid dimgray;
            padding-right: 5px;
          }

          .switchF {
            padding-left: 5px;
          }

        }
      }

      .feels {
        font-size: 18px;
        color: darkgray;
      }
    }

    .infoRight {
      display: flex;
      flex-direction: column;
      justify-content: flex-end;
      align-items: flex-end;
      font-size: 18px;
      padding-right: 10px;

      > div {
        margin-top: 10px;

        > span {
          color: cornflowerblue;
        }
      }
    }
  }
}

@media (max-width: 1091px) {
  .card {
    width: 100%;
  }
}

@media (max-width: 576px) {
  .card {
    min-width: 260px;
    width: 100%;
    height: 425px;

    .title {
      margin-bottom: 10px;
      flex-flow: column-reverse;
      height: auto;
      align-items: flex-start;

      .cityName {
        margin-right: 0;
      }

      .imgWeather {
        align-self: flex-end;
      }
    }
  }
}

@media (max-width: 480px) {
  .card {
    height: 515px;

    .info {
      flex-direction: column;
      align-items: flex-start;

      .infoRight {
        align-items: flex-start;
      }
    }
  }
}