.weatherContainer {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
  padding: 20px 30px;

  .settingsContainer {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;

    .search {
      display: flex;
    }
  }

  .cardsContainer {
    margin-top: 30px;
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
  }
}

@media (max-width: 768px) {
  .weatherContainer {
    .settingsContainer {
      flex-flow: column-reverse;
      height: auto;
      align-items: flex-start;
    }
  }
}

@media (max-width: 576px) {
  .weatherContainer {
    padding: 20px;

    .settingsContainer {
      .search {
        width: 100%;
      }
    }
  }
}

@media (max-width: 450px) {
  .weatherContainer {
    .settingsContainer {
      .search {
        flex-direction: column;
      }
    }
  }
}
