.autocomplete {
  width: 350px;

  .inputRoot {
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    border-radius: 8px;
    padding: 0 65px 0 9px;
    height: 50px;
  }
}

@media (max-width: 576px) {
  .autocomplete {
    width: 100%;
  }
}



