.btn {
  .btnRoot {
    margin-left: 20px;
    width: 130px;
    height: 50px;
    border-radius: 8px;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  }
}

@media (max-width: 450px) {
  .btn {
    .btnRoot {
      margin-left: 0;
      margin-top: 20px;
      width: 100%;
    }
  }
}
